
.visible {
  display: block;
}

.hidden {
  display: none;
}

.poi-content {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 50px;
  border-radius: 10px;
}

@media(max-width: 900px) {
  .poi-content {
    grid-template-columns: 1fr;
  }
}

@media(min-width: 901px) {
  .poi-content {
    grid-template-columns: 1fr 1fr;
  }
}


.external-poi{
  width: 100%;
  height: 140px;
  box-shadow: 0px 0px 4px 0px grey;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s all;
}


.external-poi:hover{
  box-shadow: 0px 0px 8px 0px grey;
  transform: scale(1.03)
}

.image-poi {
  height: 100px;
  background-color: grey;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.image-poi img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.bottom-poi {
  height: 38px;
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  align-items: center;
}
.buttons-poi{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nome {
  flex: 5;
}


.buttons-poi {
  flex: 1;
}

.trash-button,
.edit-button{
  transition: 0.15s all;
}

.trash-button:hover,
.edit-button:hover{
  opacity: 0.6;
}

.content-view{
  width: 100%;
  text-align: center;
}

